<nav class="navbar navbar-expand-lg " style="background-color: #9bcbde">
    <div class="container-fluid">
        <!-- <div style="display: flex; flex-direction: column;">
            <h4>Hello,{{currentUser.name}}</h4>
            <h6>{{currentUser.dept}} , {{currentUser.role}}</h6>
        </div> -->
        <div style="display: flex; gap: 7px;">
            <div >
                <!-- <img src="profilePhoto/teacher.png" class=" profilePhoto"/> -->
                <!-- <img src="{{currentUser.photo}}" class=" profilePhoto"/> -->
            </div>            
            <div style="display: flex; flex-wrap: wrap; flex-direction: column;">          
                <h4>Hello,{{currentUser.name}}</h4>
                <h6>{{currentUser.dept}} , {{currentUser.role}}</h6>
            </div>
        </div>
        <span >
            <button class="btn" type="button"  routerLink="/student"><i class="fa-solid fa-user-tie"></i>
                Student
            </button>
            <button class="btn" type="button" routerLink="/allAttendence"><i class="fa-solid fa-gears"></i>
               Attendance
            </button>
            <!-- <button class="btn" type="button" routerLink="/teacherpassword"><i class="fa-solid fa-rotate-right"></i>
                Reset Password
            </button> -->
            <button class="btn " type="submit" (click)="signOut()"><i class="fa-solid fa-power-off"></i>
                Signout
            </button>
          </span>
    </div>
</nav>