.login-style{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid #022554;
    box-shadow: 50px;
    border-radius: 5px;
    /* margin-top: 20px; */
    /* padding: 30px; */
    width: 400px;
    height: 400px;
  
}
.heading{
    color: #022554;
    font-weight: bold;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    font-size: x-large;
}
.text{
    display: flex;
    height: 20px; 
    margin: 5px; 
    gap: 9px;
    padding: 5px;
    flex-direction: column;
    font-size: 15px;
    color: black;
}
.radio-btn{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
}
.btn-style{
background-color: #255888;

color:#FFFFFF;
}
.btn-style:hover{
    color:#41d3e0;
}