
<nav class="navbar navbar-expand-lg nav-style" >
    <div class="container-fluid">
        <!-- <div style="display: flex; flex-direction: column;">
            <h4>Hello,{{currentUser.name}}</h4>
            <h6>{{currentUser.dept}}, {{currentUser.role}}</h6>
        </div> -->
        <div style="display: flex; gap: 7px;">
            <div >
                <!-- <img src="profilePhoto/girl1.png" class=" profilePhoto"/> -->
                <!-- <img src="{{currentUser.photo}}" class=" profilePhoto"/> -->
            </div>            
            <div style="display: flex; flex-wrap: wrap; flex-direction: column;">          
                <h4>Hello,{{currentUser.name}}</h4>
                <h6>{{currentUser.dept}} , {{currentUser.role}}</h6>
            </div>
        </div>
        <span >
            <button class="btn btn-style" type="button" routerLink="/adminHome" ><i class="fa-solid fa-home"></i>
                Home
            </button>
            <button class="btn btn-style" type="button" routerLink="/allstudent" ><i class="fa-solid fa-user-tie"></i>
                Student
            </button>
            <button class="btn btn-style" type="button" routerLink="/allteacher" ><i class="fa-solid fa-user-tie"></i>
                Teacher
            </button>
            <!-- <button class="btn" type="button" ><i class="fa-solid fa-gears"></i>
                Profile manager
            </button> -->
            <!-- <button class="btn" type="button" ><i class="fa-solid fa-rotate-right"></i>
                Reset Password
            </button> -->
            <button class="btn btn-style" type="submit" (click)="signOut()"><i class="fa-solid fa-power-off"></i>
                Signout
            </button>
          </span>
    </div>
</nav>