<div style="background-image: url('assets/student_portal.jpg');background-size: cover; ">
    <div class="d-flex flex-column justify-content-center align-items-center vh-100 " >

<div class="container login-style" >
    <form class="text" #myForm="ngForm" (ngSubmit)="updatePassword(myForm.value)"  >
        <!-- <h3 class="heading"> </h3> -->
        <label> Enter Email: </label>
        <input placeholder="Enter Email Here" type="text" name="email" [(ngModel)]="user.email" #email="ngModel">

        <label>Enter New Password:</label>
        <input placeholder="Enter Password Here" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" minlength="8">
        <div *ngIf="isChecked" class="text-danger">
            password Should be 8 characters
        </div>
        <button class="btn btn-style mt-5" type="submit"> Change Password </button>
    </form>
</div>
</div>
</div>