<nav class="navbar navbar-expand-lg nav-style" >
    <div class="container-fluid" >

        <div style="display: flex; gap: 7px;">
            <div >
                <!-- <img src="profilePhoto/girl1.png" class=" profilePhoto"/> -->
                <img src="{{img}}" class=" profilePhoto"/>
            </div>            
            <div style="display: flex; flex-wrap: wrap; flex-direction: column;">          
                <h4 style="font-size: 24px;">Hello,{{currentUser.name}}</h4>
                <h6 style="font-size: 18px;">{{currentUser.dept}} , {{currentUser.role}}</h6>
            </div>
        </div>

        <span >
            <button class="btn btn-style" type="button"  routerLink="/studentHome"><i class="fa-solid fa-home"></i>
                Home
            </button>
            <button class="btn btn-style" type="button"  (click)="addAttendance(currentUser)"><i class="fa-solid fa-clipboard-user"></i>
                Mark Attendance
            </button>
            <button class="btn btn-style" type="button" (click)="attendanceHistory(currentUser)"><i class="fa-solid fa-clock-rotate-left"></i>
                Attendance History
            </button>
            <button class="btn btn-style" type="button" routerLink="/studentProfileManager"><i class="fa-solid fa-gears"></i>
                Profile Manager
            </button>
            <button class="btn btn-style" type="submit" (click)="signOut()"><i class="fa-solid fa-power-off"></i>
                Signout
            </button>
          </span>
    </div>
</nav>

<!-- <img src="profilePhoto\girl.png" class="rounded profilePhoto"/> -->