<!-- <app-navbar-admin></app-navbar-admin> -->
<div *ngIf="currentUser.role === 'Teacher'">
<app-navbar-teacher></app-navbar-teacher>
</div>
<div *ngIf="currentUser.role === 'Admin'">
<app-navbar-admin></app-navbar-admin>
</div>




<div class="container" style="display: flex;justify-content: center; flex-direction: column;">
    <div>
        <input id="search" [(ngModel)]="searchText" placeholder="Search" class="form-control search-style" >
    </div>

    <!-- <p>allstudent works!</p> -->
    <table class="table table-light table-hover " style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Department</th>
                <th>Profile</th>
                <th>Attendance</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of student | searchFilter :searchText : 'name' ">
                <td><img src="http://localhost:3000{{ student.photo }}" class=" profilePhoto"/></td>
                <td>{{ student.name }}</td>
                <td>{{ student.role }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.dept }}</td>
                <td>
                    <button class="btn btn-outline-primary" (click)="showStudentProfile(student)">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </td> 
                <td>
                    <button class="btn btn-outline-success" (click)="showAttendance(student)">
                        <i class="fa-regular fa-calendar-check"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-danger" (click)="deleteUser(student)">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                
            </tr>
        </tbody>
    </table>
    </div>
   