/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Ensure the overlay container is centered */
.cdk-overlay-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Center the modal window */
  .cdk-overlay-pane {
    display: flex;
    max-width: 400px ; /* Adjust width */
  max-height: auto;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; Full viewport height */
  }
  